<h2>admin your feeds</h2>

<ul>
	<li><a href="/feeds/add">add a new feed</a></li>
	<li><a href="/posts">see recently thumbs-uped posts</a></li>
	<li><a href="/feeds">see all feeds with scores</a></li>
	<li><a href="/import">import feeds from google reader (opml)</a></li>
</ul>

<p>or, <a href="/">get reading</a>.</p>
