<h2>import from google reader</h2>

<p>reader &rarr; settings &rarr; import/export &rarr; export your subscriptions as an OPML file</p>

then:

<form action="/import" method="post" enctype="multipart/form-data">
	opml file <input type="file" name="file"><br/>
	<input type="submit" />
</form>

