<h1><%= @post.title %></h1>

<h2>from <span><%= @feed.title %></span> by <span><%= @post.author.name %></span></h2>

<p><%= @post.content %></p>

<hr/>

<div class="controls">
	<a href="#">Thumbs up</a> | <a href="#">Meh</a> | <a href="#">Thumbs down</a> | <a href="#">No opinion</a>
</div>

