@media handheld, only screen and (max-device-width: 480px) {
	body {
		font-size: 250%;
	}
}

body {
	margin: 0;
	padding: 0.8em 1em;
	font-family: sans-serif;
	line-height: 1.25em;
}

h1, h2 {
	font-family: serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 120%;
	color: #555;
	margin-top: 0.2em;
}

input[type=text] {
	font-size: 100%;
	color: #555;
}
input[type=submit] {
	font-size: 100%;
}

th {
	font-size: 80%;
	font-weight: normal;
	text-align: left;
}
td, th {
	padding-right: 0.5em;
}

.post-body {
	margin-top: 1em;
	max-width: 55em;
}

.admin-link {
	float: right;
}

